.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ant-layout {
    display: flex;
    flex-direction: column;
    flex: auto;
    background: #f0f2f5;
    /* fix firefox can't set height smaller than content on flex item */
    min-height: 100vh;
}

.ant-layout,
.ant-layout * {
    box-sizing: border-box;
}

.ant-layout.ant-layout-has-sider {
    flex-direction: row;
}

.ant-layout.ant-layout-has-sider>.ant-layout,
.ant-layout.ant-layout-has-sider>.ant-layout-content {
    overflow-x: hidden;
}

.ant-layout-header,
.ant-layout-footer {
    flex: 0 0 auto;
}

.ant-layout-header {
    background: #001528;
    padding: 0 24px;
    height: 60px;
    line-height: 60px;
}

.ant-layout-footer {
    background: #f0f2f5;
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.ant-layout-content {
    flex: auto;
    background: #F7F8FA;
    padding: 15px;
    /* fix firefox can't set height smaller than content on flex item */
    min-height: 0;
}

.ant-layout-sider {
    transition: all 0.2s;
    position: relative;
    background: #001529;
    /* fix firefox can't set width smaller than content on flex item */
    min-width: 0;
}

.ant-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
}

.ant-layout-sider-has-trigger {
    padding-bottom: 48px;
}

.ant-layout-sider-right {
    order: 1;
}

.ant-layout-sider-trigger {
    position: fixed;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #002140;
    z-index: 1;
    transition: all 0.2s;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
    word-break: break-word;
}

.ant-form-item-label>label::after {
    content: ':';
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 4px;
}

.ant-form-item label i {
    color: Red;
}

.content-wrapper {
    background: #fff;
    padding: 0px 15px;
}


.breadcrumb {
    /* margin: 20px 0px; */
}

.ant-breadcrumb {
    /* font-size: 12px; */
    line-height: 16px;
}

.ant-table-wrapper {
    margin-top: 12px;
}

.ant-table {
    color: #555555;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    padding: 7px 10px;
}

.ant-table-bordered .ant-table-thead>tr>th,
.ant-table-bordered .ant-table-tbody>tr>td {
    border-right: 1px solid #dde3e7;
}

.ant-table-thead>tr>th {
    text-align: center;
    background: #F1F5F7;
    border-bottom: 1px solid #dde3e7;
}

.ant-table-tbody>tr>td {
    border-bottom: 1px solid #dde3e7;
}

.ant-table-pagination.ant-pagination {
    float: none;
    text-align: center;
}

/* .ant-pagination-item-active {
    border-color: none;
} */

h2.part-title {
    color: #1e91ff;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    height: 24px;
    line-height: 24px;
}

.info-wrapper {
    border: 1px solid #dde3e7;
    padding: 15px;

}

.info-wrapper i {
    font-style: normal;
    color: #999;
    font-size: 16px;
}

.info-wrapper.border-none {
    border-width: 0px;
}